/* poppins-300 - devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/poppins-v15-devanagari-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v15-devanagari-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-devanagari-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-devanagari-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-devanagari-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-devanagari-300.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-regular - devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v15-devanagari-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v15-devanagari-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-devanagari-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-devanagari-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-devanagari-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-devanagari-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-500 - devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v15-devanagari-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v15-devanagari-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-devanagari-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-devanagari-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-devanagari-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-devanagari-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-600 - devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v15-devanagari-600.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v15-devanagari-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-devanagari-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-devanagari-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-devanagari-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-devanagari-600.svg#Poppins') format('svg'); /* Legacy iOS */
}
/* poppins-700 - devanagari */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v15-devanagari-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v15-devanagari-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v15-devanagari-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v15-devanagari-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v15-devanagari-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v15-devanagari-700.svg#Poppins') format('svg'); /* Legacy iOS */
}